$border-color: #eee;
$border: 1px solid $border-color;
$border-radius: 7px;

/*.search-result.ng-enter,
.search-result.ng-leave,
.search-result.ng-move {
  transition: 0.5s linear all;
}

.search-result.ng-enter {
  opacity: 0;
}
.search-result.ng-enter.ng-enter-active {
  opacity: 1;
}*/
/*
.search-result.ng-leave {
  left:0;
  opacity:1;
}
.search-result.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.search-result.ng-move {
  opacity:0.5;
}
.search-result.ng-move.ng-move-active {
  opacity:1;
}*/


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4em;
  padding-top: 8px;
}

input[type=search] {
  border: 1px solid #eee;
  box-shadow: none;
}

.search-results {
  height: 600px;
  overflow-y: scroll;
  border: 1px solid #eee;
  border-radius: 7px;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  cursor: pointer;
  border: 1px solid #eee;
  margin: 8px;
  border-radius: 7px;
  overflow: hidden;
}

.search-results li:hover {
  background-color: #f5f5f5;
  border-color: #ccc;
}

.search-results .media-heading {
  padding-top: 8px;
}

.search-results .media-object {
  border-right: 2px solid #eee;
}

.player-wrapper {
  border: 1px solid #eee;
  border-radius: 7px;
}

#player {
  min-height: 360px;
  text-align: center;
}

#player span {
  margin-top: 100px;
  font-size: 90px;
  color: #ccc;
  border: 13px dashed;
  border-radius: 50%;
  padding: 30px 21px 30px 38px;
  opacity: 0.3;
}

.playlist {
  list-style: none;
  padding: 0;
}

.video {
  border: 1px solid #f5f5f5;
  padding: 7px;
  border-radius: 5px;
  margin: 8px 0;
}

.video .btn {
  float: right;
}

.video p {
  margin: 7px 5px 10px 5px;
}

/*
.search-results h2 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 1em;
  background-color: red;
  color: white;
  box-shadow: 0px 0px 6px 0px rgba(146, 0, 0, 1) inset;
}

.search-results img {
  max-width: 100%;
}*/
