<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Youtube Playlister</title>
    <!-- build:css css/style.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,500,300,300italic' rel='stylesheet' type='text/css'>
    <!-- build:js js/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbuild -->
    <!-- build:js js/app.js -->
    <script src="js/init.js"></script>
    <script src="js/controllers/search.js"></script>
    <script src="js/controllers/player.js"></script>
    <script src="js/controllers/playlist.js"></script>
    <script src="js/services/player.js"></script>
    <script src="js/services/playlist.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>
  </head>
  <body ng-app="yt-playlister">

      <div class="container-fluid">

        <div class="row">

          <div ng-controller="SearchCtrl" class="search col-md-4">
            <div class="search-controls">
              <form ng-submit="search(query)">
                <div class="form-group">
                  <input class="form-control" ng-model="query" type="search" placeholder="Search ..." />
                </div>
              </form>
            </div>
            <div class="search-results" ng-show="searchResults">
              <ul>
                <li ng-repeat="result in searchResults" ng-click="addToPlaylist(result.id.videoId, result.snippet.title)" class="search-result">
                  <div class="media">
                    <div class="pull-left">
                      <img ng-src="{{ result.snippet.thumbnails.default.url }}" alt="{{ result.snippet.description }}" class="media-object">
                    </div>
                    <div class="media-body">
                      <p class="media-heading">
                        {{ result.snippet.title }}
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <button ng-click="loadMore()" class="btn btn-block" ng-show="searchResults">Load More</button>
          </div>

          <div class="player-and-playlist col-md-8">

            <div ng-controller="PlayerCtrl" class="player-wrapper">
              <div id="player">
                <span class="glyphicon glyphicon-play"></span>
              </div>
            </div>

            <div ng-controller="PlaylistCtrl" class="playlist">
              <ol class="playlist">
                <li class="video clearfix" ng-repeat="video in playlist">
                  <button ng-click="playVideo(video.id, $index)" class="btn">Play</button>
                  <p>{{ $index + 1 + '. ' + video.title }}</p>
                </li>
              </ol>
            </div>

          </div>

      </div>

    </div>

  </body>
</html>
